.app-container{
    .lane{
        @extend .col-md-3;
        @extend .col-sm-3;
        @extend .col-lg-3;
        min-height:400px;
    }
    button.add{
        @extend .btn-success;
        margin-bottom: 20px;
    }
    .tasks,
    .categories{
        input{
            width:100%;
        }
        .list-group-item.active{
            background-color: red;
        }
    }
    .categories{

    }
    .tasks{

    }
    .in-progress{

    }
    .completed{

    }
}
